@tailwind base;
@tailwind components;
@tailwind utilities;

.earth-bg {
  background-image: url('../../public/earth-bg.png');
}

.triangle-gradient::before {
  content: '';
  display: block;
  top: 0;
  left: 0;
  height: 180px;
  width: 5px;
  background-image: linear-gradient(to bottom, #000, #36aeff, #0037dc);
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

.icon-container {
  background-image: linear-gradient(45deg, #8c8c8c, #36aeff, #0037dc);
}

.talk-btn {
  background-image: linear-gradient(to right, #36aeff, #0037dc);
}

.technology-tag {
  background-image: linear-gradient(to bottom, #36aeff, #0037dc);
}

p {
  color: #d9d9d9;
}

.technologies-first-row {
  animation: animate 500s linear infinite;
}

.technologies-second-row {
  animation: animate 500s reverse linear infinite;
}

.contact-image-person {
  animation: expand-contact-person 2s ease-out forwards;
  animation-delay: 200ms;
}

.contact-first-star {
  animation: animate-contact-star 6s linear forwards;
  animation-delay: 2.5s;
}

.contact-second-star {
  animation: animate-contact-star 6s linear forwards;
  animation-delay: 3.5s;
}

.contact-third-star {
  animation: animate-contact-star 6s linear forwards;
  animation-delay: 4.5s;
}

.contact-fourth-star {
  animation: animate-contact-star 6s linear forwards;
  animation-delay: 5.5s;
}

.contact-fifth-star {
  animation: animate-contact-star 6s linear forwards;
  animation-delay: 6.5s;
}

.contact-image-message {
  animation: expand-contact-message-size 700ms ease-in 2s forwards;
}

.development-x {
  animation: show-development-x 700ms linear forwards;
}

.development-left-box {
  animation: show-development-left-box 700ms linear forwards;
}

.development-right-box {
  animation: show-development-right-box 700ms linear forwards;
}

.development-circle {
  animation: show-development-circle 700ms linear forwards;
}

.development-person {
  animation: show-development-person 700ms linear forwards;
}

.new-build-person {
  animation: show-new-build-person 700ms linear forwards;
}

.new-build-lightbulb {
  animation: show-new-build-lightbulb 700ms linear forwards;
}

.new-build-smile {
  animation: show-new-build-smile 700ms linear forwards;
}

.new-build-gear {
  animation: show-new-build-gear 700ms linear forwards;
}

.new-build-laptop {
  animation: show-new-build-laptop 700ms linear forwards;
}

.new-build-white-ball {
  animation: show-new-build-white-ball 700ms linear forwards;
}

.new-build-laugh {
  animation: show-new-build-laugh 700ms linear forwards;
}

.new-build-list {
  animation: show-new-build-list 700ms linear forwards;
}

.new-build-music-note {
  animation: show-new-build-music-note 700ms linear forwards;
}

.digital-transformation-small-circle {
  animation: show-digital-transformation-small-circle 700ms linear forwards;
}

.digital-transformation-big-circle {
  animation: show-digital-transformation-big-circle 700ms linear forwards;
}

.digital-transformation-person {
  animation: show-digital-transformation-person 700ms linear forwards;
}

.digital-transformation-sphere {
  animation: show-digital-transformation-sphere 700ms linear forwards;
}

.digital-transformation-planet {
  animation: show-digital-transformation-planet 700ms linear forwards;
}

.digital-transformation-rocket {
  animation: show-digital-transformation-rocket 700ms linear 400ms forwards;
}

.our-expertise-first-image-lightbulb {
  animation: show-our-expertise-first-image-lightbulb 1s linear 400ms forwards;
}

.our-expertise-first-image-nodes {
  animation: show-our-expertise-first-image-nodes 700ms linear 700ms forwards;
}

.our-expertise-first-image-flag {
  animation: show-our-expertise-first-image-flag 1s linear 700ms forwards;
}

.our-expertise-first-image-person {
  animation: show-our-expertise-first-image-person 1s linear forwards;
}

.our-expertise-second-image-person {
  animation: show-our-expertise-second-image-person 1s linear forwards;
}

.our-expertise-second-image-table {
  animation: show-our-expertise-second-image-table 1s linear forwards;
}

.our-expertise-second-image-laptop {
  animation: show-our-expertise-second-image-laptop 1s linear 400ms forwards;
}

.our-expertise-second-image-desktop {
  animation: show-our-expertise-second-image-desktop 1s linear 400ms forwards;
}

@keyframes animate {
  100% {
    transform: translateX(calc(-50% - 0.75rem));
  }
}

@keyframes expand-contact-person {
  0% {
    height: 0;
    width: 0;
  }
  20%,
  60%,
  100% {
    height: 100%;
    width: 100%;
  }
  40% {
    height: 80%;
    width: 80%;
  }
  80% {
    height: 93%;
    width: 93%;
  }
}

@keyframes animate-contact-star {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.9;
  }
  40%,
  100% {
    opacity: 1;
  }
  0%,
  100% {
    rotate: 0;
  }
  10%,
  12%,
  30%,
  32%,
  50%,
  52%,
  70%,
  72%,
  90%,
  92% {
    rotate: 30deg;
  }
  20%,
  22%,
  40%,
  42%,
  60%,
  62%,
  80%,
  82% {
    rotate: -30deg;
  }
}

@keyframes expand-contact-message-size {
  0% {
    height: 0;
    width: 0;
    right: 0;
    bottom: 0;
  }
  5%,
  15%,
  25% {
    height: 23.824%;
    width: 36.012%;
  }
  10% {
    height: 19.06%;
    width: 28.81%;
  }
  20% {
    height: 22.156%;
    width: 33.491%;
  }
  100% {
    width: 36.012%;
    height: 23.824%;
    right: 5%;
    bottom: 19.255%;
  }
}

@keyframes show-development-x {
  0% {
    width: 0;
  }

  100% {
    width: 4.76%;
  }
}

@keyframes show-development-left-box {
  0% {
    opacity: 0;
    rotate: 180deg;
    translate: 100% -350%;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
    rotate: 0deg;
    translate: 0 0;
  }
}

@keyframes show-development-right-box {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-development-circle {
  0% {
    opacity: 0;
    translate: 0 320px;
  }
  100% {
    opacity: 1;
    translate: 0px;
  }
}

@keyframes show-development-person {
  0% {
    opacity: 0;
    translate: 0 1000px;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}

@keyframes show-new-build-person {
  0% {
    height: 0px;
  }
  100% {
    height: 83.17%;
  }
}

@keyframes show-new-build-lightbulb {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-new-build-smile {
  0% {
    opacity: 0;
    translate: -100% 200%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes show-new-build-gear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-new-build-laptop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-new-build-white-ball {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-new-build-laugh {
  0% {
    opacity: 0;
    translate: -75% 300%;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes show-new-build-music-note {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-new-build-list {
  0% {
    width: 0;
  }
  100% {
    width: 23.37%;
  }
}

@keyframes show-digital-transformation-small-circle {
  0% {
    opacity: 0;
    translate: 0 2000%;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes show-digital-transformation-big-circle {
  0% {
    opacity: 0;
    translate: 0 1500%;
  }
  50% {
    opacity: 1;
    translate: 0 750%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes show-digital-transformation-person {
  0% {
    opacity: 0;
    translate: 0 100%;
  }
  50% {
    opacity: 1;
    translate: 0 50%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes show-digital-transformation-sphere {
  0% {
    opacity: 0;
    translate: 0 300%;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes show-digital-transformation-planet {
  0% {
    opacity: 0;
    translate: 0 1000%;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes show-digital-transformation-rocket {
  0% {
    opacity: 0;
    translate: 300% 300%;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes show-our-expertise-first-image-person {
  0% {
    height: 0px;
  }
  100% {
    height: 87.8%;
  }
}

@keyframes show-our-expertise-first-image-lightbulb {
  0% {
    opacity: 0;
    translate: 0 -300%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes show-our-expertise-first-image-flag {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-our-expertise-first-image-nodes {
  0% {
    width: 0px;
    left: 50%;
  }
  100% {
    width: 83.7%;
    left: 3.7%;
  }
}

@keyframes show-our-expertise-second-image-person {
  0% {
    width: 0px;
    height: 0px;
    left: 50%;
    bottom: 50%;
  }
  100% {
    width: 13.79%;
    height: 80.191%;
    left: 42.883%;
    bottom: 13.126%;
  }
}

@keyframes show-our-expertise-second-image-laptop {
  0% {
    left: 50%;
    top: 100%;
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 11.744%;
    top: 10.74%;
  }
}

@keyframes show-our-expertise-second-image-desktop {
  0% {
    left: 50%;
    top: 100%;
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 73.31%;
    top: 4.296%;
  }
}

@keyframes show-our-expertise-second-image-table {
  0% {
    width: 0px;
    height: 0px;
    left: 50%;
    bottom: 50%;
  }
  100% {
    width: 100%;
    height: 54.177%;
    left: 0;
    bottom: 0;
  }
}
