@tailwind base;
@tailwind components;
@tailwind utilities;

@property --input-gradient-angle {
  syntax: '<angle>';
  initial-value: 360deg;
  inherits: false;
}

.earth-bg {
  background-image: url('../../public/earth-bg.png');
}

.triangle-gradient::before {
  content: '';
  display: block;
  top: 0;
  left: 0;
  height: 180px;
  width: 5px;
  background-image: linear-gradient(to bottom, #000, #36aeff, #0037dc);
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

.icon-container {
  background-image: linear-gradient(45deg, #8c8c8c, #36aeff, #0037dc);
}

.talk-btn {
  background-image: linear-gradient(to right, #36aeff, #0037dc);
}

.technology-tag {
  background-image: linear-gradient(to bottom, #36aeff, #0037dc);
}

.input-border {
  background: conic-gradient(from var(--input-gradient-angle), #0037dc 0%, #88caf7 50%, #0037dc 70%, #88caf7 100%);
  animation: input-border 4s linear infinite;
}

p {
  color: #d9d9d9;
}

.technologies-first-row {
  animation: animate 500s linear infinite;
}

.technologies-second-row {
  animation: animate 500s reverse linear infinite;
}

.contact-image-person {
  animation: expand-contact-person 2s ease-out forwards;
  animation-delay: 200ms;
}

.contact-first-star {
  animation: animate-contact-star 6s linear forwards;
  animation-delay: 1s;
}

.contact-second-star {
  animation: animate-contact-star 6s linear forwards;
  animation-delay: 2s;
}

.contact-third-star {
  animation: animate-contact-star 6s linear forwards;
  animation-delay: 3s;
}

.contact-fourth-star {
  animation: animate-contact-star 6s linear forwards;
  animation-delay: 4s;
}

.contact-fifth-star {
  animation: animate-contact-star 6s linear forwards;
  animation-delay: 5s;
}

.contact-image-message {
  animation: expand-contact-message-size 700ms ease-in 1s forwards;
}

.development-x {
  animation: show-development-x 1s linear 300ms forwards;
}

.development-left-box {
  animation: show-development-left-box 1s linear 200ms forwards;
}

.development-right-box {
  animation: show-development-right-box 1s ease-in 300ms forwards;
}

.development-circle {
  animation: show-development-circle 1s linear 400ms forwards;
}

.development-person {
  animation: show-development-person 1s linear forwards;
}

.new-build-person {
  animation: show-new-build-person 1s linear forwards;
}

.new-build-lightbulb {
  animation: show-new-build-lightbulb 1400ms linear forwards;
}

.new-build-smile {
  animation: show-new-build-smile 1s ease-in 300ms forwards;
}

.new-build-gear {
  animation: show-new-build-gear 1s linear 300ms forwards;
}

.new-build-white-ball {
  animation: show-new-build-white-ball 1s linear 300ms forwards;
}

.new-build-laptop {
  animation: show-new-build-laptop 1100ms linear 500ms forwards;
}

.new-build-laugh {
  animation: show-new-build-laugh 1100ms ease-in 500ms forwards;
}

.new-build-list {
  animation: show-new-build-list 1200ms linear 600ms forwards;
}

.new-build-music-note {
  animation: show-new-build-music-note 1200ms linear 600ms forwards;
}

.digital-transformation-small-circle {
  animation: show-digital-transformation-small-circle 700ms linear forwards;
}

.digital-transformation-big-circle {
  animation: show-digital-transformation-big-circle 700ms linear forwards;
}

.digital-transformation-person {
  animation: show-digital-transformation-person 700ms linear forwards;
}

.digital-transformation-sphere {
  animation: show-digital-transformation-sphere 700ms linear forwards;
}

.digital-transformation-planet {
  animation: show-digital-transformation-planet 700ms linear forwards;
}

.digital-transformation-rocket {
  animation: show-digital-transformation-rocket 700ms linear 400ms forwards;
}

.our-expertise-first-image-lightbulb {
  animation: show-our-expertise-first-image-lightbulb 1s linear 400ms forwards;
}

.our-expertise-first-image-nodes {
  animation: show-our-expertise-first-image-nodes 700ms linear 700ms forwards;
}

.our-expertise-first-image-flag {
  animation: show-our-expertise-first-image-flag 1s linear 700ms forwards;
}

.our-expertise-first-image-person {
  animation: show-our-expertise-first-image-person 1s linear forwards;
}

.our-expertise-second-image-person {
  animation: show-our-expertise-second-image-person 1s linear forwards;
}

.our-expertise-second-image-table {
  animation: show-our-expertise-second-image-table 1s linear forwards;
}

.our-expertise-second-image-laptop {
  animation: show-our-expertise-second-image-laptop 1s linear 400ms forwards;
}

.our-expertise-second-image-desktop {
  animation: show-our-expertise-second-image-desktop 1s linear 400ms forwards;
}

@keyframes animate {
  100% {
    transform: translateX(calc(-50% - 0.75rem));
  }
}

@keyframes input-border {
  0%,
  100% {
    --input-gradient-angle: 0deg;
  }
  11% {
    --input-gradient-angle: 40deg;
  }
  22% {
    --input-gradient-angle: 80deg;
  }
  33% {
    --input-gradient-angle: 120deg;
  }
  44% {
    --input-gradient-angle: 160deg;
  }
  55% {
    --input-gradient-angle: 200deg;
  }
  66% {
    --input-gradient-angle: 240deg;
  }
  77% {
    --input-gradient-angle: 280deg;
  }
  88% {
    --input-gradient-angle: 320deg;
  }
  99.99% {
    --input-gradient-angle: 360deg;
  }
}

@keyframes expand-contact-person {
  0% {
    height: 0;
    width: 0;
  }
  20%,
  60%,
  100% {
    height: 100%;
    width: 100%;
  }
  40% {
    height: 80%;
    width: 80%;
  }
  80% {
    height: 93%;
    width: 93%;
  }
}

@keyframes animate-contact-star {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.9;
  }
  40%,
  100% {
    opacity: 1;
  }
  0%,
  100% {
    rotate: 0;
  }
  10%,
  12%,
  30%,
  32%,
  50%,
  52%,
  70%,
  72%,
  90%,
  92% {
    rotate: 30deg;
  }
  20%,
  22%,
  40%,
  42%,
  60%,
  62%,
  80%,
  82% {
    rotate: -30deg;
  }
}

@keyframes expand-contact-message-size {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    width: 36.012%;
    height: 23.824%;
  }
}

@keyframes show-development-x {
  0% {
    width: 0;
    left: 52.16%;
  }

  100% {
    width: 4.76%;
    left: 49.78%;
  }
}

@keyframes show-development-left-box {
  0% {
    opacity: 0;
    rotate: 180deg;
    translate: 100% -350%;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
    rotate: 0deg;
    translate: 0 0;
  }
}

@keyframes show-development-right-box {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-development-circle {
  0% {
    opacity: 0;
    translate: 0 320px;
  }
  100% {
    opacity: 1;
    translate: 0px;
  }
}

@keyframes show-development-person {
  0% {
    opacity: 0;
    translate: 0 1000px;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}

@keyframes show-new-build-person {
  0% {
    height: 0px;
  }
  100% {
    height: 83.17%;
  }
}

@keyframes show-new-build-lightbulb {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-new-build-smile {
  0% {
    opacity: 0;
    translate: -100% 200%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes show-new-build-gear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-new-build-laptop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-new-build-white-ball {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-new-build-laugh {
  0% {
    opacity: 0;
    translate: -75% 300%;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes show-new-build-music-note {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-new-build-list {
  0% {
    width: 0;
  }
  100% {
    width: 23.37%;
  }
}

@keyframes show-digital-transformation-small-circle {
  0% {
    opacity: 0;
    translate: 0 2000%;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes show-digital-transformation-big-circle {
  0% {
    opacity: 0;
    translate: 0 1500%;
  }
  50% {
    opacity: 1;
    translate: 0 750%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes show-digital-transformation-person {
  0% {
    opacity: 0;
    translate: 0 100%;
  }
  50% {
    opacity: 1;
    translate: 0 50%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes show-digital-transformation-sphere {
  0% {
    opacity: 0;
    translate: 0 300%;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes show-digital-transformation-planet {
  0% {
    opacity: 0;
    translate: 0 1000%;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes show-digital-transformation-rocket {
  0% {
    opacity: 0;
    translate: 300% 300%;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes show-our-expertise-first-image-person {
  0% {
    height: 0px;
  }
  100% {
    height: 87.8%;
  }
}

@keyframes show-our-expertise-first-image-lightbulb {
  0% {
    opacity: 0;
    translate: 0 -300%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes show-our-expertise-first-image-flag {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-our-expertise-first-image-nodes {
  0% {
    width: 0px;
    left: 50%;
  }
  100% {
    width: 83.7%;
    left: 3.7%;
  }
}

@keyframes show-our-expertise-second-image-person {
  0% {
    width: 0px;
    height: 0px;
    left: 50%;
    bottom: 50%;
  }
  100% {
    width: 13.79%;
    height: 80.191%;
    left: 42.883%;
    bottom: 13.126%;
  }
}

@keyframes show-our-expertise-second-image-laptop {
  0% {
    left: 50%;
    top: 100%;
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 11.744%;
    top: 10.74%;
  }
}

@keyframes show-our-expertise-second-image-desktop {
  0% {
    left: 50%;
    top: 100%;
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 73.31%;
    top: 4.296%;
  }
}

@keyframes show-our-expertise-second-image-table {
  0% {
    width: 0px;
    height: 0px;
    left: 50%;
    bottom: 50%;
  }
  100% {
    width: 100%;
    height: 54.177%;
    left: 0;
    bottom: 0;
  }
}
